* {
	font-family: 'Roboto Slab', serif;
}

body{
	background-color: #DBE8E9;
}

.row-eq{
	display: flex;
}

.title-blue-zone {
	color: #1E90FF;
	text-decoration: underline;
}

.title-red-zone {
	color: #DD2D2D;
	text-decoration: underline;
}

#movement {
	position: absolute;
	/*top: 30;
	left: 30;*/
	border: 1px solid red;
	background: rgba(255,0,0,0.3);
}

canvas {
	/*transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	/*-moz-transform:rotateY(180deg); /* Firefox */
	border:3px solid black !important;
	
}
