* {
	font-family: 'Roboto Slab', serif;
}

.row-eq{
	display: flex;
}

.col-eq{
	flex: 1;
	background: #ccc;
	margin: 10px;
    width: 400px;
    height: 300px
}

.threshold_container{
	border : 1px solid black;
}

#threshold {
	/*margin-top: 41px;*/
}

.threshold_label {
	margin-top: 35px;
}

.blue {
	border: 1px solid blue;
}

.red {
	border: 1px solid red;
}

h4 {
	letter-spacing: 1px;
	padding: 10px 0;
}

#movement {
	position: absolute;
	border: 1px solid red;
	background: rgba(255,0,0,0.3);
}

.layer {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 80%;
	border: 2px solid transparent;
}


#pose-result {
	font-size: 100px;
	text-align: right;
	padding: 20px 30px 0 0;
	width: 900px;
	height: 500px;
	margin-top: 8%;
	margin-left: 13%;
}
